src/Raspkate/Config/RaspkateConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Raspkate.Config" elementFormDefault="qualified" targetNamespace="urn:Raspkate.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="raspkateConfiguration" type="tns:Raspkate.Config.RaspkateConfigurationCT" />
	<xs:complexType name="Raspkate.Config.RaspkateConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="handlers" type="tns:Raspkate.Config.HandlerElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Handlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="basePath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BasePath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="prefix" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Prefix.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="relative" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Relative.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.HandlerElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handler" type="tns:Raspkate.Config.HandlerElementCT">
				<xs:annotation>
					<xs:documentation>The HandlerElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.HandlerElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="properties" type="tns:Raspkate.Config.HandlerPropertyElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The HandlerProperties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.HandlerPropertyElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="tns:Raspkate.Config.HandlerPropertyElementCT">
				<xs:annotation>
					<xs:documentation>The HandlerPropertyElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.HandlerPropertyElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
