src/Raspkate/Config/RaspkateConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Raspkate.Config" elementFormDefault="qualified" targetNamespace="urn:Raspkate.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="raspkateConfiguration" type="tns:Raspkate.Config.RaspkateConfigurationCT" />
	<xs:complexType name="Raspkate.Config.RaspkateConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="modules" type="tns:Raspkate.Config.ModuleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Modules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="prefix" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Prefix.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.ModuleElementCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="relative" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsRelative.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.ModuleElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Raspkate.Config.ModuleElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Raspkate.Config.ModuleElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Raspkate.Config.ModuleElementCT">
				<xs:annotation>
					<xs:documentation>The ModuleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.ModuleElementCollectionRemoveCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Raspkate.Config.ModuleElementCollectionClearCT" />
</xs:schema>
